<div class="flex flex-col gap-1.5 w-full">
  @if (label) {
  <label class="font-mono text-[11px] font-bold uppercase tracking-widest text-black">
    {{ label }}
  </label>
  }

  @if (multiline) {
  <textarea [class]="inputClasses" [placeholder]="placeholder" [formControl]="control" rows="4" (focus)="focused = true"
    (blur)="focused = false"></textarea>
  } @else {
  <input [type]="type" [class]="inputClasses" [placeholder]="placeholder" [formControl]="control"
    (focus)="focused = true" (blur)="focused = false" />
  }
</div>